.container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: auto 1fr 36px;
  align-items: center;
  min-height: 100vh;
}

.logo {
  pointer-events: none;
}

.logo_link {
  overflow: visible;
  height: 5rem;
  margin-top: -.5rem;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3rem 1.25rem 1.25rem;
}

.cardImage {
  height: "auto";
  width: "10.5rem";
  border-radius: "4px";
  float: "right";
  transform: "translate3d(0, 0, 0) translate(0, 0)";
  transition: "transform .8s ease, opacity .2s ease";
  filter: "brightness(1) contrast(1.1) saturate(1.6)";
}

.cardImage:hover {
  overflow: "visible";
  transform: "translate3d(0, 0, 0) scale(1.1)";
  transition: "transform .8s ease, opacity .4s ease";
}


@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-float infinite 3s ease-in-out;
  }
}

@keyframes logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
